:root{
    --exo-primary: #44a33d;
    --exo-secondary: #87bb34;
    --exo-color: #e1e1e1;
}

body {
    background-color: var(--exo-primary);
    color: var(--exo-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.menu {
    width: 20rem;
    margin: 0 auto;
    padding: 0.5rem;
}

.menu .a {
    color: var(--exo-color);
}

.menu *:link {
    color: var(--exo-color);
    text-decoration: none;
}

.menu *:visited{
    color: var(--exo-color);
    text-decoration: none;
}