:root{
    --exo-primary: #44a33d;
    --exo-secondary: #87bb34;
    --exo-color: #e1e1e1;
}
/**
 * COMMON hydrid & matrice.
 */
html,
body {
    background-color: var(--exo-primary);
}

form,
.informations {
    width: 24rem;
    margin: 5rem auto;
    background-color: transparent;
}

form.filled {
    visibility: hidden;
}

form fieldset {
    border-radius: 0.5rem;
}

.informations {
    visibility: hidden;
    background-color: var(--exo-color);
    border-radius: 0.5rem;
    padding: 0.25rem;
}

.informations.end {
    font-weight: bold;
}

.informations.red,
.informations.blue,
.informations.green {
    visibility: visible;
    text-align: center;
    display: grid;
}

.informations.red::before {
    color: #ff9999;
    content: "Red player";
}

.informations.red:not(.end)::before {
    content: "Red player,";
}

.informations.blue::before {
    color: #9999ff;
    content: "Blue player";
}

.informations.blue:not(.end)::before {
    content: "Blue player,";
}

.informations.green::before {
    content: "Players, ";
    color: var(--exo-secondary);
}

/**
 * Board Hybrid
 */
div.board {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: 0 auto;
}

div.board div {
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

div.board div.red {
    background-color: red;
}

div.board div.blue {
    background-color: blue;
}

/*
 * Board matrice
 */
table.board {
    justify-content: center;
    margin: 0 auto;
}

table.board tr td {
    border: 1px solid black;
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;
}

table.board tr td.red {
    background-color: #ff9999;
}

table.board tr td.blue {
    background-color: #9999ff;
}