:root{
    --exo-primary: #44a33d;
    --exo-secondary: #87bb34;
    --exo-color: #e1e1e1;
}

body {
    background-color: var(--exo-primary);
    color: var(--exo-color);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body div {
    width: 20rem;
}

body>* {
    padding-inline-start: 5rem;
}

body>ul>*,
body>ol>*,
body>table>tbody>tr>td {
    cursor: pointer;
}

body>ol>li:hover {
    color: var(--exo-secondary);
}

body a:link,
body a:visited {
    color: var(--exo-color);
}

body>table>tbody>tr>td {
    padding: 1rem
}

body>table>tbody>tr>td>img {
    max-height: 150px;
}

body>table>tbody>tr>td:hover {
    color: var(--exo-secondary);
}

body > form > fieldset > div{
    width: 100%;
}

body > form > fieldset > div > label{
    width: 100%;
    display: block;
}

body > form > fieldset > div > input, body > form > fieldset > div > textarea{
    margin: 1rem 0;
    padding: 0.25rem;
    width: 50%;
    background-color: var(--exo-primary);
    color: var(--exo-color);
    border-radius: 0.5rem;
    border: none;
}

body > form > fieldset > div > input::placeholder, body > form > fieldset > div > textarea::placeholder{
    color: var(--exo-secondary);
}

body > form > fieldset > div > textarea{
    height: 10rem;
    resize: none;
}