:root{
    --exo-primary: #44a33d;
    --exo-secondary: #87bb34;
    --exo-color: #e1e1e1;
}

html, body{
    background-color: var(--exo-primary);
    color: var(--exo-color);
    display: flex;
    flex-flow: row wrap;
}

section form{
    width: 20rem;
    margin: 0 auto;
    border: 1px solid var(--exo-color);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

section form div{
    display: flex;
    flex-flow: column wrap;
    margin: 1rem 0;
}

section form div input[type='button']{
    width: 5rem;
    margin: 1rem auto 0;
    border-radius: 0.5rem;
    border: none;
}

section > div{
    width: 20rem;
    color: black;
    margin: 1rem auto;
    background-color: var(--exo-color);
    padding: 0.5rem;
}