body{
    background-color: black;
    color: white;
}

.panneau{
    border: 1px solid grey;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}

.panneau > *{
    padding: 0.5rem
}

.panneau label{
    background-color: grey;
    color: black;
    display: block;
    border-radius: 0.5rem 0.5rem 0 0;
    cursor: pointer;
}

.panneau label:hover{
    filter: brightness(1.5);
}

.panneau input{
    display: none;
}

.panneau input:checked~.contenu{
    display: none;
    padding: 0;
}

.panneau .contenu{
    display: block;
}