* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: row wrap;
    background-color: #298a32;
}

.board {
    position: relative;
    top: 0;
    min-width: 300px;
    min-height: 300px;
    max-width: 10vh;
    max-height: 10vh;
    margin: 2rem auto;
    border: 12px solid #6D5720;
    border-radius: 10px;
}

.board::before {
    content: attr(id);
    position: absolute;
    z-index: 30;
    color: whitesmoke;
    background-color: #6D5720;
    padding: 5px;
    border-radius: 10px;
    margin: -1.5rem 0.5rem;
    text-transform: capitalize;
    font-family: system-ui;
}

.pond,
.background {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1em;
}

.pond {
    z-index: 20;
}

.background {
    z-index: 10;
    background-color: #1F5768;
}

.lilypad,
.frog {
    position: relative;
    width: 20%;
    height: 20%;
    overflow: hidden;
}

.lilypad .bg,
.frog .bg {
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.frog .bg {
    background-size: 60% 60%;
}

.lilypad.green .bg {
    background-image: url(./img/lilypad-green.svg);
}

.lilypad.yellow .bg {
    background-image: url(./img/lilypad-yellow.svg);
}

.lilypad.red .bg {
    background-image: url(./img/lilypad-red.svg);
}

.frog.green .bg {
    background-image: url(./img/frog-green.svg);
}

.frog.yellow .bg {
    background-image: url(./img/frog-yellow.svg);
}

.frog.red .bg {
    background-image: url(./img/frog-red.svg);
}

/**
 *
 * Background is the initial situation
 *
 */

#board1 .background {
    justify-content: flex-end;
}

#board2 .background {
    justify-content: center;
}

#board3 .background {
    justify-content: space-around;
}

#board4 .background {
    justify-content: space-between;
}

#board5 .background {
    align-items: flex-end;
}

#board6 .background {
    justify-content: center;
    align-items: center;
}

#board7 .background {
    justify-content: space-around;
    align-items: flex-end;
}

#board8 .background {
    flex-direction: row-reverse;
}

#board9 .background {
    flex-direction: column;
}

#board10 .background {
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#board11 .background {
    flex-direction: column;
    justify-content: flex-end;
}

#board12 .background {
    flex-direction: column-reverse;
    justify-content: space-between
}

#board13 .background {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end
}

#board14 .background .lilypad.yellow {
    order: 2;
}

#board15 .background .lilypad.red {
    order: -1;
}

#board16 .background .lilypad.yellow {
    align-self: flex-end;
}

#board17 .background .lilypad.yellow {
    align-self: flex-end;
    order: 2;
}

#board18 .background {
    flex-wrap: wrap;
}

#board19 .background {
    flex-flow: column wrap;
}

#board20 .background {
    flex-flow: column wrap;
}

#board21 .background {
    align-content: flex-start;
    flex-wrap: wrap;
}

#board22 .background {
    flex-wrap: wrap;
    align-content: flex-end
}

#board23 .background {
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: wrap;
}

#board24 .background {
    flex-flow: column-reverse wrap-reverse;
    place-content: space-between center;
}


/**
 *
 * Pond is the solution.
 *
 */

#board1 .pond {
    justify-content: right;
}

#board2 .pond {
    justify-content: center;
}

#board3 .pond {
    justify-content: space-around;
}

#board4 .pond {
    justify-content: space-between;
}

#board5 .pond {
    align-items: flex-end;
}

#board6 .pond {
    justify-content: center;
    align-items: center;
}

#board7 .pond {
    justify-content: space-around;
    align-items: flex-end;
}

#board8 .pond {
    flex-direction: row-reverse;
}

#board9 .pond {
    flex-direction: column;
}

#board10 .pond {
    flex-direction: row-reverse;
    justify-content: flex-end
}

#board11 .pond {
    flex-direction: column;
    justify-content: flex-end;
}


#board12 .pond {
    flex-direction: column-reverse;
    justify-content: space-between;
}


#board13 .pond {
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}


#board14 .pond .frog.yellow {
    order: 3;
}

#board15 .pond .frog.red {
    order: -3;
}

#board16 .pond .frog.yellow {
    align-self: flex-end
}

#board17 .pond .frog.yellow {
    order: 1;
    align-self: flex-end
}

#board18 .pond {
    flex-wrap: wrap;
}

#board19 .pond {
    flex-direction: column;
    flex-wrap: wrap
}


#board20 .pond {
    flex-flow: column wrap;
}

#board21 .pond {
    flex-wrap: wrap;
    align-content: flex-start
}

#board22 .pond {
    flex-wrap: wrap;
    align-content: flex-end
}


#board23 .pond {
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: wrap;
}


#board24 .pond {
    flex-flow: column-reverse wrap-reverse;
    align-content: space-between;
    justify-content: center;
}